<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Urba-Admin.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8C5F2B931DD24D8400EA0A3D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C5F2BAC1DD24D8500EA0A3D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C5F2BB71DD24D8500EA0A3D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
